body {
  max-width:100%;
}

.spinner {
  animation: spinning 1s linear infinite;
}

.spinnerPlot {
  animation: spinning 1s linear infinite;
  width: 75px;
  height: 75px;
}

.full_page_spinner {
  font-size: 5rem;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@keyframes spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cat {
  margin: auto;
  padding: 7px;
  border: 1px solid black;
}

.LI {
    margin: auto;
    padding: 7px;
    border: 1px solid black;
}

.UsersButton {
  height:30px;
}

.RepoButton {
  height:30px
}

.popup:hover{
    z-index: 10;
    height: 600px; 
    width:600px;
    top:auto;
    left: auto;
    transform: ease-out translate(20%), scale(1.1); 
}

.bg-blur {
  filter: blur(5px);
  -webkit-filter: blur(5px);
}

.repoCard{
  transition: width 2s, height 2s, transform .2s;
  width: 250px;
}

.repocard:hover{
  box-shadow: 2px 0px 2px 0px #0a9aec;
  width: 253px;
  height: 30px;
  margin-top: -9px;
  padding: 5%;
}

.searchme {
  background-color: aqua;
}

#input {
  padding: 10px;
}

#buttons {
  padding: 5px;
  height: 41px;
}

.searchRepos {
  margin-top: 50px;
  margin-bottom: 30px;
}

.repocard {
  border-bottom: 2px solid #DCDCDC;
  margin: 10px 0px 10px 0px;
  padding: 2%;
  height: auto;
  background: white;
}

.searchRepo {
  display: flex;
  flex-direction: row;
  margin: 20px 1px 10px 0px;
}

#repo-name {
  width: 90%;
}

.notStarred {
  padding: 5px;
  background-color: black;
  color: white;
}

.star {
  padding: 5px;
  background-color: black;
  color: yellow;
}

.header {
  z-index: 1;
}

.yearlyCommitActivity {
  color: #003d7a;
}

.yearlyCodeFrequencyAdd {
  color: #003d7a;
}

.yearlyCodeFrequencyDelete {
  color: #FF8C00;
}

.allTimeContributors {
  background: -webkit-linear-gradient(left #e83109, #FF8C00, brown );
  background: -o-linear-gradient(right, #e83109, #FF8C00, brown);
  background: -moz-linear-gradient(right, #e83109, #FF8C00,brown);
  background: linear-gradient(to left, #e83109, brown, gray); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.DailyCommits {
  color: #003d7a;

}

.IssueActivityOpen {
  color: #003d7a;
}

.IssueActivityClosed {
  color: #FF8C00;
}

.IssueComments {
  color: #003d7a;
}

.repo-message {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.repo-message h4 {
  text-align: center;
}

.spinnerPlot-container {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.issue-activity-container {
  height: 50vh;
}