body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.spinner {
  animation: spinning 1s linear infinite;
}

.full_page_spinner {
  font-size: 5rem;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@keyframes spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cat {
  margin: auto;
  padding: 7px;
  border: 1px solid black;
}

.LI {
    margin: auto;
    padding: 7px;
    border: 1px solid black;
}

.UsersButton {
  height:30px;
}

.RepoButton {
  height:30px
}

.popup:hover{
    z-index: 10;
    height: 600px; 
    width:600px;
    top:auto;
    left: auto;
    transform: ease-out translate(20%), scale(1.1); 
}

.bg-blur {
  filter: blur(5px);
  -webkit-filter: blur(5px);
}
